agno
groq
sqlalchemy
duckduckgo-search
pydantic
pvporcupine 
pyaudio 
sounddevice 
numpy
google-generativeai
SpeechRecognition
pathlib
pyttsx3 
sounddevice
requests
install 
requests 
pyaudio 
websocket-client
deepgram-sdk
httpx