agno
groq
sqlalchemy
duckduckgo-search
pydantic
pvporcupine 
pyaudio 
sounddevice 
numpy
google-generativeai
SpeechRecognition
pathlib
pyttsx3 
sounddevice
requests
pyaudio 
diskcache
python-pptx
textual
watchdog
prompt-toolkit